{% extends "base.html" %}
{% block content %}

<section class="add-comment-section">
    <h2 class="form-header center-align">Add Book Comment</h2>
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_comment', book_id=book._id) }}">
                </div class="row">
                    <!-- Book Description -->
                    <label for="book_comment">Add Book Comment</label>
                    <textarea name="book_comment" id="" cols="20" rows="20" placeholder="Enter Comment.." class="textarea"></textarea>
                    <!-- register button -->
                </div>
                <div class="row">
                    <div class="input-field col s12 center-align">
                        <button type="submit" class="btn waves-effect waves-light review-btn">Add Comment!</button>
                    </div>
                </div>
        <form>
</section>

{% endblock %}