{% extends "base.html" %}
{% block content %}

<div class=" container">
    <h1 class="form-header center-align">Add new book</h1>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_book') }}">
            <div class="card-panel add-book-form">
                <!-- Book Information -->
                <div class="row">
                    <div class="input-field col s6 m12">
                        <input id="book_title" name="book_title" type="text" class="validate" required>
                            <label for="book_title">Book Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 m12">
                        <input id="author" name="author" type="text" class="validate" required>
                        <label for="author">Author</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 m12">
                        <input id="genre" name="genre" type="text" class="validate">
                        <label for="genre">Genre and Tags</label>
                    </div>
                </div>
                <div class="row responsive-row">
                    <div class="input-field col s6 m6 bookshelf-select">
                        <select id="bookshelf" name="bookshelf" class="validate">
                            <option value="" disabled selected>Add to bookcase</option>
                            {% for bookshelf in bookshelves %}
                            <option value="{{ bookshelf.id}}">{{ bookshelf.bookshelf_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-field col s6 m6 colour-picker-div">
                        <div class="colour-picker-label-div">
                            <label class="colour-picker-label " for="colour">Select book colour</label>
                        </div>
                        <input class="colour-picker" type="color" id="colour" name="colour" value="#FFFFFF">
                    </div>
                </div>
                <!-- Book Description -->
                <textarea name="book-description" id="textarea" cols="20" rows="20" placeholder="Enter description.. (Optional)"
                    class="textarea"></textarea>
                <!-- register button -->
                <div class="row">
                    <div class="input-field col s12 center-align">
                        <button type="submit" class="btn waves-effect waves-light add-book-btn page-btn">Add
                            book!</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>



{% endblock %}