{% extends "base.html" %}
{% block content %}

<div class=" container">
  <h1 class="form-header center-align">Add new Bookshelf</h1>

  <div class="row create-bookshelf">
    <form class="col s12 m10 offset-m1" method="POST" action="{{ url_for('add_bookcase') }}">
      <div class="card-panel bookshelf-form">
        <!-- Book Information -->
        <div class="row">
          <div class="input-field col s6 m12 lg-12 book-name-div">
            <input id="bookshelf_name" name="bookshelf_name" type="text" class="validate" required
              placeholder="Enter name for new bookshelf">
            <label for="bookshelf_name" class="text-brown text-darken-2 bookshef-form-name">Bookshelf Name</label>
          </div>
        </div>
        <!-- Book Description -->
        <label for="bookshelf_description" class="text-brown text-darken-2 bookshef-form-name">Bookshelf Description</label>
        <textarea name="bookshelf_description" id="bookshelf_description" cols="20" rows="20"
          placeholder="Enter bookshelf description.. (Optional)" class="textarea"></textarea>
        <!-- register button -->
      </div>
      <div class="row">
        <div class="input-field col s12 center-align">
          <button type="submit" class="btn waves-effect waves-light btn-large page-btn">Create bookshelf!</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}