{% extends "base.html" %}
{% block content %}

<h1 class="center-align">{{ book_shelf }} Books</h1>
<div class="container">
    <div class="row">
    {% for book in books %}
        <div class="card col s12 m4 xl4 book-card">
            <div class="card-content book-card-content">
                <div class="card-titles">
                    <span id="shelf-card-title" class="card-title activator grey-text text-darken-4 center-align">{{ book.title }} <i class="fa-solid fa-chevron-down card-icon "></i></span>
                    <span id="shelf-card-title" class="card-title activator grey-text text-darken-4 center-align">{{ book.author }}</span>
                    <ul class="card-title activator grey-text text-darken-4 center-align">
                        {% for genre in book.genre %}
                            <li>{{ book.genre}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title activator  grey-text text-darken-4">Book Description<i class="fa-solid fa-x card-icon "></i></span>
                {% if book.description %}
                    <p>{{ book.description }}</p>
                    <!-- <p>{{ books_description }}</p> -->
                    {% else %}
                    <p>No Book Description Entered</p>
                {% endif %}
            </div>
            <div class="book-card-btns">
                <a href="{{url_for('delete_book', book_id=book._id  )}}" class="btn book-card-btn page-btn"><i class="fa-solid fa-trash delete-btn"></i></a>
                <a href="#" class="btn book-card-btn page-btn"><i class="fa-solid fa-comment"></i></a>
                <a href="#" class="btn book-card-btn page-btn"><i class="fa-solid fa-pencil"></i></a>
            </div>
        </div>
    {% endfor %}
    </div>

    <a href="{{ url_for('add_book') }}" class="btn create-bookshelf-btn page-btn">Add New Book</a>
</div>
{% endblock %}
