{% extends "base.html" %}
{% block content %}

    {% if bookshelf %}
        {% for shelf in bookshelf %}
            <h1 class="center-align generated-book-title">Your Chosen Bookshelf is : {{ shelf.bookshelf_name }} </h1>
        {% endfor %}
    {% elif authors %}
        <h1 class="center-align generated-book-title">Your Chosen Author is : {{ authors }}!</h1>
    {% elif tag %}
        <h1 class="center-align generated-book-title">Your Chosen Tag is : {{ tag }}!</h1>
    {% else %}
        <h1 class="center-align generated-book-title">You chose to generate a book from all your books!</h1>
    {% endif %}

    {% if book %}
    <div class="container generated-book-card shadow">
        <div class="col s12 m4 xl4 ">
            <h4 id="shelf-card-title" class="card-title grey-text text-darken-4 center-align generated-title">Your Generated book is: {{ book.title }}</h4>
            <div class="card-content book-card-content generated-content">
                <div class="card-titles">
                    <p id="shelf-card-title" class="grey-text text-darken-4 center-align generated-author">Book Author: {{ book.author }}</p>
                    <p class="grey-text text-darken-4 generated-info">Book Description</p>
                    {% if book.description %}
                        <p class="grey-text text-darken-4 generated-info">{{ book.description }}</p>
                        <p class="grey-text text-darken-4 generated-info">{{ books_description }}</p>
                    {% else %}
                        <p class="grey-text text-darken-4 generated-info">No Book Description Entered</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <div class="container generated-book-card shadow">
            <p class="grey-text text-darken-4 generated-info">No books Please make sure you have books on your selected bookshelf!</p>
        </div>
    {% endif %}

{% endblock %}

