{% extends "base.html" %}
{% block content %}

<header>
    <h1 class="center-align">Generate your next favourite book</h1>
    <h2 class="center-align">For When you cant decide what book to read next</h2>
    <h3 class="center-align">Why not let someone else decide for you instead"</h3>
</header>

    <div class="card blue-grey darken-1 generate-card">
        <div class="card-content white-tex">
            <form method="POST" action="{{ url_for('generate_book') }}">
                <div class="input-field">
                    <span class="card-title center-align">Select From Bookshelf</span>
                    <select id="bookshelf" name="bookshelf" class="validate">
                        <option value="" disabled selected>Select bookcase</option>
                        {% for bookshelf in bookshelves %}
                        <option value="{{ bookshelf.id}}">{{ bookshelf.bookshelf_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field">
                    <span class="card-title center-align">Select By Author</span>
                    <select id="author" name="author" class="author">
                        <option value="" disabled selected>Select Author</option>
                        {% for author in authors %}
                            <option value="{{ authors.author}}">{{ author }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field">
                    <span class="card-title center-align">Select By Genre</span>
                    <select id="genre" name="genre" class="validate">
                        <option value="" disabled selected>Select Genre</option>
                        {% for genre in genres %}
                        <option value="{{ genre.genre }}">{{ genre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field">
                    <span class="card-title center-align">Select From All Books</span>
                    <input id="random" name="random" class="validate" readonly placeholder="??????????????????">
                </div>
                <div class="card-action">
                    <button type="submit" class="btn bookshelf-btn generate-btn page-btn">Generate from all books</button>
                </div>
                <div class="input-field">
                    <input id="random" name="random" class="validate" readonly placeholder="??????????????????">
                </div>
                <div class="card-action">
                    <button type="submit" class="btn bookshelf-btn generate-btn page-btn">Generate from all books</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}