{% extends "base.html" %}
{% block content %}

    <header class="generation-header">
        <h1 class="center-align generation-h1">Generate your next favourite book</h1>
        <h2 class="center-align generation-h2">For When you cant decide what book to read next</h2>
        <h3 class="center-align generation-h3">Why not let someone else decide for you instead</h3>
    </header>

    <div class="row">
        <div class="col s12 m12 l6">
            <div class="card brown lighten-5 generate-card">
                <div class="card-content black-text shadow">
                    <span class="card-title center-align">Select Bookshelf</span>
                    <form method="POST" action="{{ url_for('bookshelf_book') }}">
                        <div class="input-field">
                            <select id="bookshelf" name="bookshelf" class="validate generate-select">
                                <option value="" disabled selected>Select bookcase</option>
                                {% for bookshelf in bookshelves %}
                                <option value="{{ bookshelf.id}}">{{ bookshelf.bookshelf_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="card-action">
                            <button type="submit" name='action' value="Submit1" class="btn bookshelf-btn generate-btn page-btn">Generate from your Bookshelves</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l6">
            <div class="card brown lighten-5 generate-card">
                <div class="card-content">
                    <span class="card-title center-align">Select Author</span>
                    <form method="POST" action="{{ url_for('author_book') }}">
                        <div class="input-field">
                            <select id="author" name="author" class="validate generate-select">
                                <option value="" disabled selected>Select Author</option>
                                {% for author in authors %}
                                <option value="{{ author }}">{{ author }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="card-action">
                            <button type="submit" name='action' value="Submit1" class="btn bookshelf-btn generate-btn page-btn">Generate from your Authors</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l6">
            <div class="card brown lighten-5 generate-card">
                <div class="card-content">
                    <span class="card-title center-align">Select By Tags</span>
                    <form method="POST" action="{{ url_for('tag_book') }}">
                        <div class="input-field">
                            <select id="genre" name="genre" class="validate generate-select">
                                <option value="" disabled selected>Select Tag</option>
                                {% for genre in genres %}
                                    <option value="{{ genre }}">{{ genre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn bookshelf-btn generate-btn page-btn">Generate By Tag</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l6">
            <div class="card brown lighten-5 generate-card">
                <div class="card-content">
                    <span class="card-title center-align">Randomly Select</span>
                    <form method="POST" action="{{ url_for('random_book') }}">
                        <div class="input-field">
                            <input id="random" name="random" class="validate" readonly placeholder=" ??????????????????">
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn bookshelf-btn generate-btn page-btn">Generate from all books</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}