{% extends "base.html" %}
{% block content %}

    {% if bookshelf %}
        {% for book in bookshelf %}
            <h1 class="center-align">Your Chosen Bookshelf is : {{ book.bookshelf_name }}!</h1>
        {% endfor %}
    {% elif author %}
        <h1 class="center-align">Your Chosen Author is : {{ author }}!</h1>
    {% else %}
        <h1 class="center-align">You chose to generate a book from all your books!</h1>
    {% endif %}

    {% if book %}
    <div class="container">
        <div class="card col s12 m4 xl4 book-card">
            <h4 id="shelf-card-title" class="card-title grey-text text-darken-4 center-align">Your Generated book is: {{ book.title }}</h4>
            <div class="card-content book-card-content">
                <div class="card-titles">
                    <p id="shelf-card-title" class="grey-text text-darken-4 center-align">{{ book.author }}</p>
                    <p class="grey-text text-darken-4">Book Description</p>
                    {% if book.description %}
                    <p>{{ book.description }}</p>
                    <p>{{ books_description }}</p>
                    {% else %}
                    <p>No Book Description Entered</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <p>No books Please make sure you have books on your selected bookshelf!</p>
    {% endif %}

{% endblock %}

