{% extends "base.html" %}
{% block content %}

<div class="form-container">

    <h1 class="form-header center-align">Login</h1>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
          <div class="row">
            <div class="input-field col s12">
                <i class="fa-solid fa-user prefix"></i>
                <input placeholder="Username" id="username" name="username" type="text" minlength="5" maxlength="15" class="validate" required>
                <label for="username">Username</label>
              </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="fa-solid fa-key prefix"></i>
              <input id="password" type="password" name="password" class="validate" minlength="3" maxlength="15" required>
              <label for="password">Password</label>
            </div>
          </div>
          <button type="submit" class="waves-effect waves-light btn form-btn page-btn">
            Log In <i class="fas fa-sign-in-alt"></i>
          </button>
        </form>
        <div class="row">
            <div class="input-field col s12 center-align">
              <p>Not a member? <a type="submit" href="{{ url_for('register') }}" class="login-link  brown-text text-darken-3" type="button">Sign Up</a></p>
            </div>
          </div>
      </div>
</div>

{% endblock %}