{% extends "base.html" %}
{% block content %}

<header>
    <div class="card-panel image-styles profile-header">
        <h1 class="center-align">{{ user }}'s Profile</h1>
        <h2 class="center-align heading-sub-title">Read, Discover, Review</h2>
        <div class="search-bar">
            <form method="POST" action="{{ url_for('search_book') }}" autocomplete="off">
                <div class="input-field">
                    <input id="search" type="search" name="search" class="search-box" placeholder="search">
                    <!-- <label class="label-icon search-box search-box-label" for="search">Search</label> -->
                </div>
            </form>
        </div>
    </div>
</header>

<section class="profile-section top-profile-section">
    <h2 class="center-align">Your bookshelves</h2>
    <div class="section-containers">
        <div class="row profile-section-row">
            {% if bookshelves %}
            {% for bookshelf in bookshelves %}
            <div class="col s12 m5 l3 card  bookshelf-card-container image-styles">
                <a href="{{ url_for('sort_books', bookcase_id=bookshelf.id) }}">
                    <div class=" bookshelf-card image-styles">
                        <div class="card-content brown lighten-5 bookshelf-card-content center-align">
                            <p class="card-title grey-text text-darken-4 center-align bookcase-card-title">
                                {{ bookshelf.bookshelf_name }}</p>
                            {% if bookshelf.bookshelf_description != '' %}
                            <p class="bookshelf-card-description">{{ bookshelf.bookshelf_description }}</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
                <div class="bookshelf-card-btns">
                    <div class="bookshelf-card-btns">
                        <a href="#delete-modal-{{ bookshelf.id }}" class="btn bookshelf-btn page-btn modal-trigger"><i
                                class="fa-solid fa-trash delete-btn"></i></a>
        
                        <!-- delete modal -->
                        <div id="delete-modal-{{ bookshelf.id }}" class="modal">
                            <div class="modal-content  brown-text text-darken-1">
                                <h4>Delete Bookshelf</h4>
                                <p>Are you sure you want to delete this bookshelf?</p>
                                <p class="model-title">{{ bookshelf.bookshelf_name }}</p>
                                <p>This action is permanent and cannot be undone!</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="modal-close waves-effect btn-flat">No</a>
                                <a href="{{ url_for('delete_bookcase', bookshelf_id=bookshelf.id) }}"
                                    class="waves-effect btn-flat">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="profile-paragraph">You dont have any bookshelves created</p>
            {% endif %}
        </div>
    </div>
    <a href="{{ url_for('add_bookcase') }}" class="btn profile-btn page-btn">Create New Bookshelf</a>
</section>

<section class="profile-section shadow generate-book-section ">
    <h2 class="center-align">Generate your next favourite book</h2>
    <h3 class="center-align">For When you cant decide what book to read next</h3>
    <a href="{{ url_for('generate_book') }}" class="btn profile-btn page-btn">Generate a Book</a>

</section>

<section class="profile-section shadow">
    <div class="section-containers">
        <h2 class="center-align">Your Books</h2>
        <div class="row">
            {% if books %}
            {% for book in books %}
            <div class="card col s12 m6 xl4 book-card-styles" style="background: linear-gradient(135deg, #fff 0%, #fff 61%, {{book.colour}} 61%, {{book.colour}} 100%);">
                <a href="{{ url_for('display_books', book_id=book._id) }}">
                    <div class="card-titles">
                        <div class="book-card-titles brown-text text-darken-2">
                            <span class="card-title activator book-card-titles">{{ book.title }}
                            </span>
                            <span
                                class="card-title activator book-card-titles">{{ book.author }}</span>
                            {% if book.bookshelf == None %}
                            <p class="grey-text text-darken-4 center-align">No Bookshelf</p>
                            {% else %}
                            {% for shelf in bookshelves %}
                            {% if shelf.id|int == book.bookshelf|int %}
                            <p class="center-align">Bookshelf: {{shelf.bookshelf_name}}</p>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </a>
                <div class="card-btns-container profile-book-btns">
                        <a href="#delete-modal-{{book._id }}" class="btn card-btn page-btn book-model-btn modal-trigger"><i
                            class="fa-solid fa-trash delete-btn"></i></a>
        
                        <!-- delete modal -->
                        <div id="delete-modal-{{book._id }}" class="modal">
                            <div class="modal-content  brown-text text-darken-1">
                                <h4>Delete Bookshelf</h4>
                                <p>Are you sure you want to delete this bookshelf?</p>
                                <p class="model-title">{{ book.book_name }}</p>
                                <p>This action is permanent and cannot be undone!</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="modal-close waves-effect btn-flat">No</a>
                                <a href="{{ url_for('delete_book', book_id=book._id) }}"
                                    class="waves-effect btn-flat">Yes</a>
                            </div>
                        </div>
                    <a href="{{ url_for('add_comment', book_id=book._id  )}}" class="btn book-card-btn page-btn"><i
                            class="fa-solid fa-comment"></i></a>
                            
                    <a href="{{ url_for('edit_book', book_id=book._id  )}}" class="btn card-btn page-btn"><i
                            class="fa-solid fa-pencil"></i></a>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="profile-paragraph">You have no saved books</p>
            {% endif %}
        </div>
    </div>
    <a href="{{ url_for('add_book') }}" class="btn profile-btn page-btn">Add New Book</a>
</section>



{% endblock %}