{% extends "base.html" %}
{% block content %}

<header class="profile-header">
    <div class="card-panel heading-div image-styles">
        <h1 class="center-align">{{ username }}'s Profile</h1>
        <h2 class="center-align heading-sub-title">Read, Discover, Review</h2>
        <a href="#" class="btn center-align profile-generate-btn page-btn">Generate Book</a>
    </div>
</header>

<section class="profile-section shadow">
    <h2 class="center-align" >Your bookshelves</h2>
    <div class="section-containers">
        <div class="row profile-section-row">
            {% for bookshelf in bookshelves %}
                <a href="{{ url_for('sort_books', bookcase_id=bookshelf.id) }}">
                    <div class="col s12 m5 l3 ">
                        <div class="card bookshelf-card image-styles">
                            <div class="card-content bookshelf-card-content center-align">
                                <span id="shelf-card-title" class="card-title activator grey-text text-darken-4 center-align">{{ bookshelf.bookshelf_name}}</span>
                                {% if bookshelf.bookshelf_description != '' %}
                                    <p>{{ bookshelf.bookshelf_description }}</p>
                                {% endif %}
                            </div>
                            <div class="card-btns-container">
                                <a href="{{ url_for('delete_bookcase', bookshelf_id=bookshelf.id) }}" class="btn  card-btn page-btn"><i class="fa-solid fa-trash delete-btn"></i></a>
                                <a href="#" class="btn  card-btn page-btn"><i class="fa-solid fa-pencil"></i></a>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        
        </div>
    </div>
        <a href="{{ url_for('add_bookcase') }}" class="btn profile-btn page-btn">Create New Bookshelf</a>
    </div>
</section>

<section>
    <h2 class="center-align">Generate your next favourite book</h2>
    <h3 class="center-align">For When you cant decide what book to read next</h3>
    <a href="{{ url_for('generate_book') }}" class="btn profile-btn page-btn">Generate a Book</a>

</section>

<section class="profile-section shadow">
    <div class="section-containers">
        <h2 class="center-align">Your Books</h2>
        <div class="row">
            {% for book in books %}
            <div class="card col s12 m6 xl4">
                <div class="card-content profile-card">
                    <div class="card-titles">
                        <span id="shelf-card-title" class="card-title activator grey-text text-darken-4 center-align">{{ book.title }} <i class="fa-solid fa-chevron-down card-icon "></i></span>
                        <span id="shelf-card-title" class="card-title activator grey-text text-darken-4 center-align">{{ book.author }}</span>
                        <ul class="card-title activator grey-text text-darken-4 center-align">
                            {% for bookshelf in bookshelves %}
                            {% if bookshelf.id == book.bookshelf %}
                                <li>Bookshelf: {{ bookshelf.bookshelf_name }}</li>
                            {% endif %}
                            <!-- <p>bookshelf name: {{ bookshelf.id }}</p> -->
                            <!-- <p>book bookshelf: {{ book.bookshelf }}</p> -->
                            <p>book bookshelf: {{ bookshelf.bookshelf_name  }}</p>
                        {% endfor %}
                        </ul>
                        <ul>
                        </ul>
                    </div>
                </div>
                <div class="card-reveal">
                    {% if book.description != '' %}
                        <span class="card-title activator  grey-text text-darken-4">Book Description<i class="fa-solid fa-x card-icon "></i></span>
                        <p>{{ book.description }}</p>
                    {% endif %}
                </div>
                <div class="card-btns-container profile-book-btns">
                    <a href="{{ url_for('delete_book', book_id=book._id) }}" class="btn card-btn page-btn"><i class="fa-solid fa-trash delete-btn"></i></a>
                    <a href="{{url_for('edit_book', book_id=book._id  )}}" class="btn card-btn page-btn"><i class="fa-solid fa-pencil"></i></a>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
    <a href="{{ url_for('add_book') }}" class="btn profile-btn page-btn">Add New Book</a>
</section>



{% endblock %}
