{% extends "base.html" %}
{% block content %}

    <h1 class="center-align">Search Page</h1>
    <h4 class="center-align">You Searched For: {{ search }} </h4>

    <section class="searched-books shadow">
        <div class="section-containers">
            <h2 class="center-align">Book Search</h2>
            <div class="row">
                {% if user_books %}
                    {% for book in user_books %}
                            <a href="{{ url_for('display_books', book_id=book._id) }}">
                            <div class="card col s12 m6 xl4 book-card-styles" style="background-color:{{ book.colour }}">
                                <div class="card-content profile-card">
                                    <div class="card-titles">
                                        <div class="book-card-titles">
                                            <span id="shelf-card-title" class="card-title activator book-card-titles grey-text text-darken-4 center-align">{{ book.title }} </span>
                                            <span id="shelf-card-title" class="card-title activator book-card-titles grey-text text-darken-4 center-align">{{ book.author }}</span>
                                            {% if book.bookshelf == None %}
                                                <p class="grey-text text-darken-4 center-align">No Bookshelf</p>
                                            {% else %}
                                                {% for shelf in bookshelves %}
                                                    {% if shelf.id|int == book.bookshelf|int %}
                                                        <p class="grey-text text-darken-4 center-align">Bookshelf: {{shelf.bookshelf_name}}</p>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-btns-container profile-book-btns">
                                    <a href="{{ url_for('delete_book', book_id=book._id) }}" class="btn card-btn page-btn"><i class="fa-solid fa-trash delete-btn"></i></a>
                                    <a href="{{ url_for('add_comment', book_id=book._id  )}}" class="btn book-card-btn page-btn"><i class="fa-solid fa-comment"></i></a>
                                    <a href="{{ url_for('edit_book', book_id=book._id  )}}" class="btn card-btn page-btn"><i class="fa-solid fa-pencil"></i></a>
                                </div>
                            </div>
                    {% endfor %}
                    </a>
                    {% else %}
                        <p class="profile-paragraph">Your search returned no book, please try again</p>
                {% endif %}
            </div>
        </div>

{% endblock %}