/* Multi use styles */
html, body, .valign-wrapper {
    height: 100%;
}

option, select {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
}


.section-containers {
    width: 95%;
    margin: 0 auto;
}

.image-styles {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-btn {
    margin: 0 auto;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow {
    box-shadow: 2px 3px 3px #6b6b6b;
}

.page-btn {
    background-color: #6d4c41;
    border: solid 3px #3e2723;
    box-shadow: 2px 2px 5px rgb(37, 37, 37);
}

.page-btn:hover,
.page-btn:focus {
    background-color: #a1887f;
    border: solid 3px #3e2723;
    box-shadow: none;
    transform: translateY(2px);
}

.card-btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-btn {
    width: 30%;
    margin: 1% auto;
    flex-direction: row;
}


/* home page styles */
.heading-div {
    min-height: 70vh;
    background: url("https://images.unsplash.com/photo-1535905748047-14b2415c77d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1150&q=80");
    margin: 0 0 2% 0;

    color: #fff;
    margin-bottom: 0;
}

.heading-title {
    font-size: 3.25rem;
    margin: 4%;
}

.heading-sub-title{
    font-size: 2rem;
}

.search-bar-container {
    width: 30%;
    margin: 5% auto 2%;
    background-color: #fff;
    border-radius: 10px;
}

.homepage-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-btn {
    margin: 3% 1%;
    min-width: 10%;
}

/* Login page styles */
.login-link {
    color: #43a047 ;
}

/* Profile page styles */
.profile-btn {
    font-size: 1.25rem;
    width: 60%;
    padding: 1% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% auto 2%;
}

.top-profile-section {
    margin-top: 0 !important;
}

.profile-section {
    min-height: 40vh;
    border: solid 2px #3e2723;
    margin: 2% 0;
}

.profile-paragraph {
    text-align: center;
    font-size: 1.75rem;
    margin: 1% 0;    
}

.generate-book-section {
    padding: 3% 0;
    background-image:  linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(41, 23, 3, 0.5)),
    url('https://images.unsplash.com/photo-1485322551133-3a4c27a9d925?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    /* background: url("https://images.unsplash.com/photo-1485322551133-3a4c27a9d925?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"); */
}


.book-card-titles {
    font-size: 2rem !important;
    margin-bottom: 4%;
}

.book-card-info {
    font-size: 1.25rem;
}
/* Bookshelf Styles */
.bookshelf-container {
    border: solid 2px black;
    margin: 0 auto;
}

.bookshelf-card {
    height: 500px;
    margin: 2% auto 1%;
    border-radius: 5px;
}

.bookcase-card-title {
    font-size: 3rem !important;
    margin: 7% 0 !important;
}

.bookshelf-card-description {
    font-size: 1.2rem;
    color: black;
}

.bookshelf-card-content {
    border: 2px solid #000;
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1% auto 3%;
}

.bookshelf-card-btns {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.bookshelf-btn {
    width: 30%;
    margin: 0 auto;
}

.create-bookshelf-btn {
    font-size: 1.25rem;
    width: 30%;
    margin: 1% auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.shelf-card-title {
    font-size: 1.25rem;
}


/* Add book form styles */
select,textarea {
    border: solid 2px rgb(190, 190, 190);
}

.add-book-btn {
    font-size: 1.25rem;
    padding: 2% 0;
    width: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.colour-picker-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}

.colour-picker {
    width: 100%;
}

.colour-picker-label-div {
    width: 50%;
    height: 20px !important;
}

label.colour-picker-label {
    float : left;
    width: 100%;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

/* Book card styles */
.book-card {
    margin: 1% auto;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 224, 224);
}

.book-card-styles {
    border: solid 2px #1d100b;
}

.book-card-content {
    height: 60%;
}

.book-card-btns {
    width: 90%;
    margin: 1% auto;
    display: flex;
    justify-content: space-around;
}

.book-card-btn {
    width: 30%;
    margin: 1% 0;
}

.card-icon {
    display: flex;
    float: right;
}

/* display book styles */
.display-book-headers {
    text-align: center;
    /* border: solid 2px pink; */
    background-image:  linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(41, 23, 3, 0.5)),
    url('https://images.unsplash.com/photo-1515125520141-3e3b67bc0a88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
}

.display-book-title {
    margin-top: 0;
    padding-top: 2%;
}

.book-description {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.book-description-paragraph {
    padding-top: 0;
    padding-bottom: 2%;
    font-size: 1.5rem;

}




.book-info-container {
    width: 100%;
    margin: 0 auto;
}

.book-description,
.book-comment-title {
    font-size: 2rem;
}

.book-comment-title {
    margin-top: 5%;
}

.book-paragraph {
    font-size: 1.25rem;
}

.book-info {
    width: 100%;
}

.book-comment-div,
.add-comment-section {
    width: 95%;
    margin: 0 auto;
}

.add-comment-section {
    margin: 2% auto;
}

.comment-content {
    width: 95%;
    border: solid 2px #6d4c41;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% auto;
}

.book-comment {
    width: 90%;
    margin-left: 1%;
    font-size: 1.25rem;
}

.delete-comment-icon {
    width: 5% ;
    margin: 0 auto 1%;
    justify-content: flex-end;
}

/* Book generator form styles  */
.generation-header {
    margin-bottom: 4%;
}

.generation-h1 {
    margin: 2% 1%;
}

.generation-h2 {
    font-size: 2.5rem;
}

.generation-h3 {
    font-size: 2.5rem;
}

.generate-card {
    /* height: 30vh; */
    border: solid 2px #6d4c41;
    border-radius: 5px;
    margin: 1%;

}

.top-card {
    margin-top: 4%;
}

.generate-card-contents select {
    margin: auto;

}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.generate-select {
    min-height: 60px;
}

.generate-card select,
#random {
    height: 50px;
    border: solid 2px #6d4c41;
}

#random {
    background-color: #fff;
}

#random::placeholder {
    color: black;
} 

.generate-btn {
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.select-options {
    color: #fb8c00 !important;
}

/* Materialize styles */
.input-field .prefix.active {
    color: #6d4c41;
}
.dropdown-content li > a, .dropdown-content li > span {
